%h1 Listing posts

- if current_user.admin
  = link_to 'ADMIN PANEL', rails_admin.dashboard_path
%br
%br

= link_to 'New Post', new_post_path
\|
= link_to 'Sign Out', destroy_user_session_path, method: :delete 
 
%br
%br
%table
  %thead
    %tr
      %th Link
      %th Description
      %th User
      %th
      %th
      %th

  %tbody
    - @posts.each do |post|
      %tr
        %td
          = link_to nil, post.title, @post
        %td= post.body
        %td= post.user.username
        %td= link_to 'Show', post
        - if current_user.admin
          %td= link_to 'Edit', edit_post_path(post)
          %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }
%br
