%h1 Listing posts

%table
  %thead
    %tr
      %th Link
      %th Body
      %th User
      %th
      %th
      %th

  %tbody
    - @posts.each do |post|
      %tr
        %td
          = link_to nil, post.title, @post
        %td= post.body
        %td= post.user.username
        %td= link_to 'Show', post
        - if current_user.admin
          %td= link_to 'Edit', edit_post_path(post)
          %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }
%br

= link_to 'New Post', new_post_path
\|
= link_to 'Sign Out', destroy_user_session_path, method: :delete 
\| 
= link_to 'Admin panel', rails_admin.dashboard_path  